<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero magnam odio unde reprehenderit sequi enim laudantium a tempora rerum ipsum nam sit, suscipit beatae animi odit iste. Eveniet asperiores blanditiis pariatur maxime voluptas accusantium saepe fugit incidunt ex aut, consequatur nam tempora neque.</p>
    </div>
</body>
</html>